{% extends 'base.html.twig' %}
{% block title %}La carte des vins du Restaurant Traiteur Les Ptits Loups{% endblock %}
{% block description %}Toute sorte de vins vous est proposé à Toutainville, dans le restaurant traiteur Les Ptits Loup à Toutainville proche de Pont-Audemer{% endblock %}
{% block body %}
    <div class="jumbotron-parallax parallax-carte-vins" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
    <section class="container title-container">
        <div class="title-page">
            <h2> Carte des vins </h2>
        </div>
    </section>

    <div id="carte">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% for key,typeVin in typesVins %}
                        {% if(key%2 == 0) %}
                            <div class="m-categorie">
                                <div class="m-title-categorie">
                                    <h4 class="text-center couleur-principale">{{ typeVin.nom }}</h4>
                                </div>
                                {% for vin in typeVin.vins %}
                                    <div class="m-plat-info">
                                        <div class="m-titre-plat">
                                            <span class="m-nom-plat m-photo-active">{{ vin.nom }}</span>
                                        </div>
                                        <span class="m-separateur"></span>
                                        <div class="m-prix">
                                            <div class="m-quantite">
                                                {% if typeVin.code != 'pichet' %}
                                                    <span>75cl</span>
                                                {% endif %}
                                                <span>{{ vin.prix1 }}€</span>
                                            </div>
                                            {% if typeVin.code != 'pichet' %}
                                                <div class="m-quantite">
                                                    {% if typeVin.code != 'pichet' %}
                                                        <span>37,5cl</span>
                                                    {% endif %}
                                                    {% if vin.prix2 %}<span>{{ vin.prix2 }}€</span>{% else %}<span>-</span>{% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for key,typeVin in typesVins %}
                        {% if(key%2 != 0) %}
                            <div class="m-categorie">
                                <div class="m-title-categorie">
                                    <h4 class="text-center couleur-principale">{{ typeVin.nom }}</h4>
                                </div>
                                {% for vin in typeVin.vins %}
                                    <div class="m-plat-info">
                                        <div class="m-titre-plat">
                                            <span class="m-nom-plat m-photo-active">{{ vin.nom }}</span>
                                        </div>
                                        <span class="m-separateur"></span>
                                        <div class="m-prix">
                                            <div class="m-quantite">
                                                {% if typeVin.code != 'pichet' %}
                                                    <span>75cl</span>
                                                {% endif %}
                                                <span>{{ vin.prix1 }}€</span>
                                            </div>
                                            {% if typeVin.code != 'pichet' %}
                                                <div class="m-quantite">
                                                    {% if typeVin.code != 'pichet' %}
                                                        <span>37,5cl</span>
                                                    {% endif %}
                                                    {% if vin.prix2 %}<span>{{ vin.prix2 }}€</span>{% else %}<span>-</span>{% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.paroller.min.js') }}"></script>
    <script>
        $('.jumbotron-parallax').paroller();
    </script>
{% endblock %}