{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-parallax parallax-index-1" data-paroller-factor="0.5" data-paroller-factor-xs="0.2">
    </div>
    <section class="container title-container">
        <div class="title-page">
            <h2> Présentation </h2>
        </div>
    </section>
    <div class="container container-index">
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-4 offset-4"><img src="{{ asset('images/profile-placeholder.png') }}" class="img-fluid rounded"></div>
            <div class="col-md-8 offset-2 text-justify">
                "Dans un petit village normand entre Pont-Audemer et Honfleur, le restaurant « Les P’tits Loups » vous accueille dans une ambiance conviviale et sympathique. Vous y découvrirez une cuisine traditionnelle, d’actualité et variée, à travers nos plats préparés « maison ».

                De plus, une spécialité vous sera proposée dont seul « Les P’tits Loups » a le secret. Si vous souhaitez y goûter, vous savez ce qu’il vous reste à faire…

                A très bientôt!"
            </div>
        </div>
    </div>
    <div class="jumbotron-parallax parallax-index-2" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
    <section class="container title-container">
        <div class="title-page">
            <h2> Plan & horaires du restaurant </h2>
        </div>
    </section>
    <div class="container container-index">
        <div class="row">
            <div id="map" class="col-md-8"></div>
            <div class="table-responsive col-md-4">
                <table class="table text-center">
                    <tr>
                        <th>Jour</th>
                        <th>Horaires</th>
                    </tr>
                    <tr>
                        <td>Lundi</td>
                        <td>7h-20h</td>
                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>7h-20h</td>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>7h-20</td>
                    </tr>
                    <tr>
                        <td>Jeudi</td>
                        <td>7h-20h</td>
                    </tr>
                    <tr>
                        <td>Vendredi</td>
                        <td>7h-20h</td>
                    </tr>
                    <tr>
                        <td>Samedi</td>
                        <td>8h-15h</td>
                    </tr>
                    <tr>
                        <td>Dimanche</td>
                        <td>Fermé</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center col-md-12">Comment s'y rendre?</h3>
            <div class="text-center col-md-12">
                Proche de Pont-Audemer, votre restaurant Les P'tits Loups vous propose sa restauration tous les midis du
                lundi au samedi (le soir ou le dimanche sur commande à partir de 20 personnes).
            </div>
            <div class="col-md-12 text-justify">
               
            </div>
        </div>
    </div>
    <div class="jumbotron-parallax parallax-index-3" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
    <section class="container title-container">
        <div class="title-page">
            <h2> Quelques plats en images </h2>
        </div>
    </section>
    <div class="container container-index">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ asset('images/slide4.jpg') }}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('images/slide5.jpg') }}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('images/slide6.jpg') }}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.paroller.min.js') }}"></script>
    <script>
        $('.jumbotron-parallax').paroller();
    </script>
    <script>
        function initMap() {
            var uluru = {lat: 49.364025, lng: 0.462554};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWdGusRdm9EIBqR9o6ONFbK5O31Ta91j4&callback=initMap">
    </script>
    <script>$('.jumbotron').carousel()</script>
{% endblock %}