{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-parallax parallax-menus" data-paroller-factor="0.5" data-paroller-factor-xs="0.2"></div>
    <section class="container title-container">
        <div class="title-page">
            <h2> Menus </h2>
        </div>
    </section>

    <div id="menu">
        {% for categorie in categories %}
            <div class="container">

                <h3 class="text-center">{{ categorie.nom }}</h3>
                <div class="row">
                    <div class="col-md-6">
                        {% for key,menu in categorie.menus %}
                            {% if(key%2 == 0) %}
                                <div class="m-categorie">
                                    <div class="m-title-categorie">
                                        <h4 class="text-center">{{ menu.nom }} {% if categorie.code == 'menu-midi' %} - <small class="prix-menu">{{ menu.prix }}€{% endif %}</small></h4>
                                    </div>
                                    {% for choix in menu.choix %}
                                        {% set i = 1 %}
                                        <div class="choix-menu {% if loop.first == true %} premier-element {% endif %} ">
                                            <div class="plat-menu">
                                                {% for plat in choix.plats %}
                                                    {{ plat.nom }}
                                                    {% if i < choix.plats|length %}
                                                        {% if categorie.code == 'menu-midi' %} <span>/</span> {% else %} </br><span>OU</span></br>{% endif %}
                                                    {% endif %}
                                                    {% set i = i+1 %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if loop.last == false %}
                                            <div class="separation">
                                                &ndash;
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {% for key,menu in categorie.menus %}
                            {% if(key%2 != 0) %}
                                <div class="m-categorie">
                                    <div class="m-title-categorie">
                                        <h4 class="text-center">{{ menu.nom }} {% if categorie.code == 'menu-midi' %} - <small class="prix-menu">{{ menu.prix }}€{% endif %}</small></h4>
                                    </div>
                                    {% for choix in menu.choix %}
                                        {% set i = 1 %}
                                        <div class="choix-menu {% if loop.first == true %} premier-element {% endif %} ">
                                            <div class="plat-menu">
                                                {% for plat in choix.plats %}
                                                    {{ plat.nom }}
                                                    {% if i < choix.plats|length %}
                                                        {% if i < choix.plats|length %}
                                                            {% if categorie.code == 'menu-midi' %} <span>/</span> {% else %} </br><span>OU</span></br>{% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                    {% set i = i+1 %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if loop.last == false %}
                                        <div class="separation">
                                            &ndash;
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.paroller.min.js') }}"></script>
    <script>
        $('.jumbotron-parallax').paroller();
    </script>
{% endblock %}
