<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('index') }}">Restaurant Traiteur Les P'tits Loups</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('menu') }}">Menus <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('carte-vins') }}">Cartes des Vins <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Traiteur
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('buffet_froid') }}">Buffet froid</a>
                    <a class="dropdown-item" href="{{ path('menus_noel') }}">Menus de Noël</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('contact') }}">Contact <span class="sr-only"></span></a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Administration <span class="sr-only"></span></a>
                </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-lock"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {{ render(controller('FOSUserBundle:Security:login')) }}
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>